In [1]:
#Importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
path = r'C:\Users\poury\12-2023 Instacart Basket Analysis'

In [3]:
#importing data set
df_sub = pd.read_pickle(os.path.join(path, '02 Data', 'prepared data', 'under_5_excluded_sub.pkl'))

In [4]:
df_sub.head()

,product_id,product_name,department_id,prices,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,...,spending_flag,median_order_freq,order_freq_flag,gender,state,age,n_dependants,fam_status,income,region
0,1,Chocolate Sandwich Cookies,19,5.8,138,prior,28,6,11,3.0,...,Low spender,8.0,Frequent customer,Male,Minnesota,81,1,married,49620,Midwest
1,1,Chocolate Sandwich Cookies,19,5.8,138,prior,30,6,17,20.0,...,Low spender,8.0,Frequent customer,Male,Minnesota,81,1,married,49620,Midwest
2,907,Premium Sliced Bacon,12,20.0,138,prior,1,5,13,NaN,...,Low spender,8.0,Frequent customer,Male,Minnesota,81,1,married,49620,Midwest
3,907,Premium Sliced Bacon,12,20.0,138,prior,10,5,14,6.0,...,Low spender,8.0,Frequent customer,Male,Minnesota,81,1,married,49620,Midwest
4,1000,Apricots,10,12.9,138,prior,9,6,12,7.0,...,Low spender,8.0,Frequent customer,Male,Minnesota,81,1,married,49620,Midwest

In [6]:
#Creating a true or false list to the test np.random.rant <=0.7
np.random.seed(4)
dev = np.random.rand(len(df_sub)) <= 0.7

In [8]:
#Store 70% of the sample in dataframe big
big = df_sub[dev]

In [10]:
#Store 30% of the sample in dataframe small
small = df_sub[~dev]

In [11]:
# Export data to pkl

small.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'small_sample.pkl'))